<%- include('../../partials/_head') %>

<!-- links -->

<!-- ... -->

<%- include('../../partials/_body') %>

<!-- template -->
<%- include('../../../components/navbar.component.ejs') %>

<main class="container">
    <div class="container__card">
        <%- include('../../../components/card_aside.component.ejs') %>
    </div>
</main>
<!-- ... -->

<!-- scripts -->

<!-- ... -->

<%- include('../../partials/_foot') %>